MYSQL_DATABASE=xmreader
MYSQL_USER=xmreader
MYSQL_PASSWORD=xmreader_dev
MYSQL_ROOT_PASSWORD=xmreader_root_dev

DB_URL=jdbc:mysql://localhost:3306/xmreader?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=xmreader
DB_PASSWORD=xmreader_dev
