MYSQL_DATABASE=novelhub
MYSQL_USER=novelhub
MYSQL_PASSWORD=novelhub_dev
MYSQL_ROOT_PASSWORD=novelhub_root_dev

DB_URL=jdbc:mysql://localhost:3306/novelhub?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=novelhub
DB_PASSWORD=novelhub_dev
